<a href="https://colab.research.google.com/github/2303A51689/PDS_LAB-batch-10/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# 1. Create Products dataset
products = pd.DataFrame({
    "product_id": [101, 102, 103, 104, 105, 106],
    "product_name": ["Laptop", "Mobile", "Tablet", "Headphones", "Charger", "Camera"],
    "category": ["Electronics", "Electronics", "Electronics", "Accessories", "Accessories", "Electronics"],
    "price": [60000, 20000, 15000, 3000, 1000, 25000]
})

# 2. Create Sales dataset
sales = pd.DataFrame({
    "sale_id": [1, 2, 3, 4, 5, 6],
    "product_id": [101, 102, 103, 104, 107, 105],
    "quantity": [3, 5, 2, 10, 4, 7],
    "date": pd.to_datetime(["2025-09-01", "2025-09-01", "2025-09-02", "2025-09-02", "2025-09-03", "2025-09-04"])
})

print("Products Dataset:\n", products, "\n")
print("Sales Dataset:\n", sales, "\n")

# 3. Merge datasets (Inner Join)
inner_merged = pd.merge(sales, products, on="product_id", how="inner")
print("Inner Join:\n", inner_merged, "\n")

# 4. Merge datasets (Outer Join)
outer_merged = pd.merge(sales, products, on="product_id", how="outer")
print("Outer Join:\n", outer_merged, "\n")

# 5. Compute statistics
inner_merged["revenue"] = inner_merged["quantity"] * inner_merged["price"]

total_revenue = inner_merged["revenue"].sum()
avg_price = inner_merged["price"].mean()

product_sales = inner_merged.groupby("product_name").agg(
    total_quantity=("quantity", "sum"),
    total_revenue=("revenue", "sum")
).reset_index()

category_sales = inner_merged.groupby("category").agg(
    total_quantity=("quantity", "sum"),
    total_revenue=("revenue", "sum")
).reset_index()

best_category = category_sales.loc[category_sales["total_revenue"].idxmax()]

print("Total Revenue:", total_revenue)
print("Average Price of Sold Products:", avg_price, "\n")
print("Product-wise Sales:\n", product_sales, "\n")
print("Category-wise Sales:\n", category_sales, "\n")
print("Best-Selling Category:\n", best_category, "\n")

Products Dataset:
    product_id product_name     category  price
0         101       Laptop  Electronics  60000
1         102       Mobile  Electronics  20000
2         103       Tablet  Electronics  15000
3         104   Headphones  Accessories   3000
4         105      Charger  Accessories   1000
5         106       Camera  Electronics  25000

Sales Dataset:
    sale_id  product_id  quantity       date
0        1         101         3 2025-09-01
1        2         102         5 2025-09-01
2        3         103         2 2025-09-02
3        4         104        10 2025-09-02
4        5         107         4 2025-09-03
5        6         105         7 2025-09-04

Inner Join:
    sale_id  product_id  quantity       date product_name     category  price
0        1         101         3 2025-09-01       Laptop  Electronics  60000
1        2         102         5 2025-09-01       Mobile  Electronics  20000
2        3         103         2 2025-09-02       Tablet  Electronics  15000
3        4         104        10 2025-09-02   Headphones  Accessories   3000
4        6         105         7 2025-09-04      Charger  Accessories   1000

Outer Join:
    sale_id  product_id  quantity       date product_name     category    price
0      1.0         101       3.0 2025-09-01       Laptop  Electronics  60000.0
1      2.0         102       5.0 2025-09-01       Mobile  Electronics  20000.0
2      3.0         103       2.0 2025-09-02       Tablet  Electronics  15000.0
3      4.0         104      10.0 2025-09-02   Headphones  Accessories   3000.0
4      6.0         105       7.0 2025-09-04      Charger  Accessories   1000.0
5      NaN         106       NaN        NaT       Camera  Electronics  25000.0
6      5.0         107       4.0 2025-09-03          NaN          NaN      NaN

Total Revenue: 347000
Average Price of Sold Products: 19800.0

Product-wise Sales:
   product_name  total_quantity  total_revenue
0      Charger               7           7000
1   Headphones              10          30000
2       Laptop               3         180000
3       Mobile               5         100000
4       Tablet               2          30000

Category-wise Sales:
       category  total_quantity  total_revenue
0  Accessories              17          37000
1  Electronics              10         310000

Best-Selling Category:
 category          Electronics
total_quantity             10
total_revenue          310000
Name: 1, dtype: object

In [3]:
import pandas as pd

# 1. Create Teachers dataset
teachers = pd.DataFrame({
    "teacher_id": [1, 2, 3, 4, 5, 6],
    "teacher_name": ["Anita", "Rahul", "Priya", "Vivek", "Sonia", "Kiran"],
    "department": ["CSE", "ECE", "CSE", "MECH", "ECE", "CSE"]
})

# 2. Create Courses dataset
courses = pd.DataFrame({
    "course_id": [101, 102, 103, 104, 105, 106],
    "course_name": ["DBMS", "Networks", "AI", "Thermodynamics", "Signals", "OS"],
    "teacher_id": [1, 2, 1, 4, 2, 3],
    "credits": [4, 3, 3, 4, 3, 4]
})

print("Teachers Dataset:\n", teachers, "\n")
print("Courses Dataset:\n", courses, "\n")

# 3. Merge datasets (Inner Join)
inner_merged = pd.merge(courses, teachers, on="teacher_id", how="inner")
print("Inner Join (Teachers with assigned courses):\n", inner_merged, "\n")

# 4. Merge datasets (Left Join)
left_merged = pd.merge(teachers, courses, on="teacher_id", how="left")
print("Left Join (All teachers, even without courses):\n", left_merged, "\n")

# 5. Compute statistics

# Number of courses per teacher
courses_per_teacher = courses.groupby("teacher_id").size().reset_index(name="num_courses")

# Merge to get teacher names
courses_per_teacher = pd.merge(courses_per_teacher, teachers, on="teacher_id", how="right").fillna(0)

# Average courses per teacher
avg_courses = courses_per_teacher["num_courses"].mean()

# Department-wise workload (total courses per department)
dept_workload = pd.merge(courses, teachers, on="teacher_id", how="inner").groupby("department").agg(
    total_courses=("course_id", "count"),
    total_credits=("credits", "sum")
).reset_index()

# 6. Display results
print("Courses per Teacher:\n", courses_per_teacher, "\n")
print("Average Courses per Teacher:", avg_courses, "\n")
print("Department-wise Workload:\n", dept_workload, "\n")

# Best workload department (by total credits)
best_department = dept_workload.loc[dept_workload["total_credits"].idxmax()]
print("Department with Highest Workload:\n", best_department, "\n")

Teachers Dataset:
    teacher_id teacher_name department
0           1        Anita        CSE
1           2        Rahul        ECE
2           3        Priya        CSE
3           4        Vivek       MECH
4           5        Sonia        ECE
5           6        Kiran        CSE

Courses Dataset:
    course_id     course_name  teacher_id  credits
0        101            DBMS           1        4
1        102        Networks           2        3
2        103              AI           1        3
3        104  Thermodynamics           4        4
4        105         Signals           2        3
5        106              OS           3        4

Inner Join (Teachers with assigned courses):
    course_id     course_name  teacher_id  credits teacher_name department
0        101            DBMS           1        4        Anita        CSE
1        102        Networks           2        3        Rahul        ECE
2        103              AI           1        3        Anita        CSE
3        104  Thermodynamics           4        4        Vivek       MECH
4        105         Signals           2        3        Rahul        ECE
5        106              OS           3        4        Priya        CSE

Left Join (All teachers, even without courses):
    teacher_id teacher_name department  course_id     course_name  credits
0           1        Anita        CSE      101.0            DBMS      4.0
1           1        Anita        CSE      103.0              AI      3.0
2           2        Rahul        ECE      102.0        Networks      3.0
3           2        Rahul        ECE      105.0         Signals      3.0
4           3        Priya        CSE      106.0              OS      4.0
5           4        Vivek       MECH      104.0  Thermodynamics      4.0
6           5        Sonia        ECE        NaN             NaN      NaN
7           6        Kiran        CSE        NaN             NaN      NaN

Courses per Teacher:
    teacher_id  num_courses teacher_name department
0           1          2.0        Anita        CSE
1           2          2.0        Rahul        ECE
2           3          1.0        Priya        CSE
3           4          1.0        Vivek       MECH
4           5          0.0        Sonia        ECE
5           6          0.0        Kiran        CSE

Average Courses per Teacher: 1.0

Department-wise Workload:
   department  total_courses  total_credits
0        CSE              3             11
1        ECE              2              6
2       MECH              1              4

Department with Highest Workload:
 department       CSE
total_courses      3
total_credits     11
Name: 0, dtype: object